process {
    cache = true
    stageInMode='symlink'
    stageOutMode='rsync'
}

params {
 
    // VCF dir containg files QCed and annotated by Mamana. This is all the 426 samples (SAHGP, Baylor, TrypanoGEN)
    merged_annotated_vcf_dir = "/spaces/mamana/GAPW/VCF_FILTERED/MERGED/"

    // Sample to population mapping
    sample_to_population_mapping_dir = "/spaces/gapw/diversity/gerrit/sample_to_population_mapping/all"

    // Per population VCFs dir
    split_per_pop_vcfs_dir = "/spaces/gapw/diversity/gerrit/nextflow/split_per_pop_vcfs"

    // Test output directory
    test_out_dir = "/spaces/gapw/diversity/gerrit/nextflow-test/out"

    project_name = "agd"
}

executor{
    jobName = { "$task.tag" } 
}

profiles{
    standard {
        process.executor = 'local'
    }

   pbs {
        process.executor = 'pbs'
        //process.queue = 'dev'
        process.queue = 'batch'
	process.clusterOptions = '-M gerrit.botha@uct.ac.za -m abe'
    }
}

