conf_version=""

manifest {
    homePage = 'https://github.com/grbot/agd'
    description = 'Code for the African genomic diversity team of the GAPW of H3Africa'
    mainScript = 'afr_genomic_diversity_Annotate_Novel_Variants.nf'
}

params {
    // Directories
    author                  = "Taoufik Bensellak"
    homeagd                 = "${HOME}/afr_genomic_diversity"
    work_dir                = "${params.homeagd}/pipeline"
    group_dir               = "/spaces/gapw/diversity/taoufik" /// Shared folder for working group
    output_dir              = "${HOME}/afr_genomic_diversity/results"
    output_dir_stats        = "${HOME}/afr_genomic_diversity/Statsrestults"
    output_dir_freq        = "${HOME}/afr_genomic_diversity/Statsrestults"
    scripts                 = "${params.work_dir}/scripts"
	alltype					= "Only_biall"
    // Data
    datavcf                 = "/spaces/gapw/diversity/mamana/VCF_POP/BAYLOR/VCF"
    datafreq                = "/spaces/mamana/GAPW/VCF_POP/BAYLOR/DAF"
    prefix_novel              = "_Ann_Novel"
    chromosomes             = "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22"
    pops					= "BOT,ZAM,CAM,FNB,MAL,WGR,BRN"
    afmin 					= 0.0
    gnomad 					= 0.0
}

executor{
    jobName = { "RareVariants" }
}

profiles {
    pbs {
        process.executor = 'pbs'
        //process.queue = 'dev'
        process.queue = 'batch'
        process.cpus = 1
        process.memory = 5.GB
        //process.queue = 'WitsLong'
        process.time = 2.h
        process.maxRetries = 10
		process.maxErrors = 10000
		process.clusterOptions = '-M taoufik.bensellak@gmail.com -m abe'
	}
}

workflow.onComplete = {
    println "========================================="
    println "Pipeline completed at: $workflow.complete"
    println "Execution status: ${ workflow.success ? 'OK' : 'failed' }"
}

